mat-form-field.previewMode {
  pointer-events: all !important;
  cursor: pointer;
}

.example-custom-placeholder {
  min-height: 30px;
}
i.icon.icon-close{
  width: 18px;
  height: 18px;
  opacity: 0;
}