@import "~src/assets/styles/variables";

aside{
  width: 265px;
  box-sizing: border-box;
}
mat-card{
  height: 100%;
  padding: 0;
}
mat-list{
  padding: 0;
}
mat-icon{
  height: 40px;
  width: 40px;
  margin-right: 15px;
}
.aside-title{
  text-align: center;
  font-weight: 400;
  color: #1565c0;
  font-size: 18px;
  border-bottom: 1px solid #ececec;
  padding: 30px;
  margin: 0;
  font-weight: bold;
  margin-bottom: 50px;
}
mat-list-item{
  cursor: pointer;
  color: $inactiveColor;
  font-size: 16px;
  border-left: 8px solid transparent;
  transition: all 0.2s ease-in-out;
  padding: 10px 0px!important;
  height: auto!important;
  mat-icon{
    width: 23px;
    margin-left: 15px;
  }
  &:not(.active):hover{
    color: #111;
    background-color: rgba(#f2f7fd, 0.5);
  }
}
.active{
  border-color: $main-color;
  background-color: #f2f7fd;
  color: $main-color;
  font-weight: bold;
  mat-icon{
    fill: $main-color;
  }
}

.logout{
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 80%;
  margin-left: 10%;
  cursor: pointer;
  border-radius: 20px;
}
